body{
    margin:0;
    padding: 0;

}

.section-one{
    padding-top: 5%;
    padding-left: 5%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 70%;
    padding-top: 2%;
}
.half-width img{
    width: 80%;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 25px;
    margin-bottom: 50px;
}

.h1-color{
    color: tomato;
    
}

p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 60px;
}

.button-one {
    text-decoration: none;
    color: white;
    background-color: tomato;
    border: 1px solid ;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 20px;
    
}

.About-section img{
    width: 100%;
    height: 500px;
    position: relative;
}
.about-text-area{
    position: absolute;
    text-align: left;
    top: 120%;
    left: 50%;
    right: 10%;
    color: black;
}
h2{
    font-size: 50px;
    font-weight: 600;
}

.button-tow{
    background-image: linear-gradient(tomato,orange);
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: tomato;
    border: 1px solid ;
    padding: 15px 30px;
    border-radius: 25px;
    
 
}
.recipies-area{
    text-align: center;
}
.recipies-area h3{
font-size: 30px;
color: gray;
font-weight: 800;
}
.recipies-area p{
    color:lightgreen;
    font-size: 20px;
}

.half-one{
    width: 40%;
    height: 430px;
    margin: 0 5%;
    padding: 20px 20px;
    box-shadow: 8px 10px 30px gray;
    border-radius: 30px;
}
.half-one img{
    
    width: 100%;
    height: 300px;
}
.half-one h2{
    font-size: 25px;
    color: tomato;
}
.half-one p{
    font-size: 18px;
    color: teal;
}
.last-content{
    width: 80%;
    height: 100px;
    margin: 20px 10%;
    padding:  10px;
    box-shadow: 5px gray;
    border: 1px solid ;
    border-radius: 30px;
}

.half-tow {
    float: left;
    margin: -18px 10%;
}
.half-tow h1{
    font-size: 35px;
    
}
.half-tow p{
    font-size: 15px;
    bottom: 10%;
}
.footer{
    background-color: black;
    height: 180px;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
}
.eat{
    color: tomato;
}
.footer p{
    color: darkolivegreen;
    font-size: 20px;
    font-weight: 500;
}




